---
// Domain information section for Nom de domaine Maroc page
import Section from '../../ui/Section.astro';
import Title from '../../ui/Title.astro';
import Paragraph from '../../ui/Paragraph.astro';
import TextImageSection from '../../ui/TextImageSection.astro';

interface Props {
	title?: string;
	paragraphs?: string[];
}

const {
	title = "Nom de domaine en .MA",
	paragraphs = []
} = Astro.props;
---

<Section backgroundColor="bg-white"  extraClasses="pt-15 md:pt-30 pb-15 md:pb-30">
	<!-- extraClasses="pt-30" -->
	<TextImageSection image="/nom-domaine-maroc.jpg" alt="Service WHOIS Maroc - Logo .MA et drapeau marocain avec ANRT">
		<Title>
			{title}
		</Title>
				
		<Paragraph>
			{paragraphs.map((paragraph: string) => <p set:html={paragraph} />)}
		</Paragraph>
	</TextImageSection>
</Section>

