---
// What is a .MA domain section
import Section from '../../ui/Section.astro';
import Title from '../../ui/Title.astro';
import Paragraph from '../../ui/Paragraph.astro';
import TextImageSection from '../../ui/TextImageSection.astro';

interface Props {
	title: string;
	paragraphs?: string[];
	image: {
		src: string;
		alt: string;
	};
}

const {
	title ,
	paragraphs = [],
	image
} = Astro.props;
---

<Section backgroundColor="bg-white"  extraClasses="pt-15 md:pt-30">
	<TextImageSection image={image.src} alt={image.alt}>
		<Title>
			{title}
		</Title>
				
		<Paragraph>
			{paragraphs.map((paragraph: string) => <p set:html={paragraph} />)}
		</Paragraph>
	</TextImageSection>
</Section>

