---
// What is a .MA domain section
import Section from '../../ui/Section.astro';
import Title from '../../ui/Title.astro';
import Paragraph from '../../ui/Paragraph.astro';
import TextImageSection from '../../ui/TextImageSection.astro';

interface Props {
	title?: string;
	paragraphs?: string[];
}

const {
	title = "Qu'est ce qu'un nom de domaine Maroc ?",
	paragraphs = []
} = Astro.props;
---

<Section backgroundColor="bg-white">
	<TextImageSection image="/nom-de-domaine-maroc-que.jpg" alt="Service WHOIS Maroc - Logo .MA et drapeau marocain avec ANRT">
		<Title>
			{title}
		</Title>
				
		<Paragraph>
			{paragraphs.map((paragraph: string) => <p set:html={paragraph} />)}
		</Paragraph>
	</TextImageSection>
</Section>

