---
// Why register a .MA domain section
import Section from '../../ui/Section.astro';
---

<Section backgroundColor="bg-(--color-tertiary)">
		<!-- Main title -->
		<h2 class="text-3xl md:text-4xl lg:text-5xl font-semibold text-(--color-secondary) text-center leading-tight mb-12 md:mb-16">
			Pourquoi dois-je enregistrer un nom de domaine Maroc ?
		</h2>
		
		<!-- Three columns - one row with three columns -->
		<div class="flex flex-col sm:flex-row gap-6 md:gap-8 lg:gap-12">
			<!-- Column 1 -->
			<div class="flex-1">
				<h3 class="text-xl md:text-2xl lg:text-3xl font-semibold text-(--color-secondary) mb-8 md:mb-10 lg:mb-12">
					L'adresse web pour votre site internet
				</h3>
				<p class="text-(--color-secondary) text-base md:text-xl leading-relaxed">
					L'achat d'un nom de domaine .ma vous permet de mettre votre site web en ligne, de le lier à votre <strong>hébergement</strong> existant ou d'opter pour un hébergement dès maintenant.
				</p>
			</div>
			
			<!-- Column 2 -->
			<div class="flex-1">
				<h3 class="text-xl md:text-2xl lg:text-3xl font-semibold text-(--color-secondary) mb-8 md:mb-10 lg:mb-12">
					Créer des adresses mail @domaine.ma
				</h3>
				<p class="text-(--color-secondary) text-base md:text-xl leading-relaxed">
					Avec un nom de domaine .ma, vous pouvez créer un nombre illimité d'adresses mail en <strong>@entreprise.ma</strong>. Nous vous accompagnons par la suite pour configurer votre e-mail professionnel.
				</p>
			</div>
			
			<!-- Column 3 -->
			<div class="flex-1">
				<h3 class="text-xl md:text-2xl lg:text-3xl font-semibold text-(--color-secondary) mb-8 md:mb-10 lg:mb-12">
					Sécuriser le nom de votre marque
				</h3>
				<p class="text-(--color-secondary) text-base md:text-xl leading-relaxed">
					<strong>Anticipez et enregistrez</strong> votre nom de domaine maroc à l'avance : évitez les utilisations abusives et assurez-vous que personne d'autre ne puisse enregistrer le nom de votre entreprise en .ma.
				</p>
			</div>
		</div>
</Section>

