---
import 'vanilla-cookieconsent/dist/cookieconsent.css';

interface Props {
    lang?: 'fr' | 'en';
}

const { lang = 'fr' } = Astro.props;
---
<div transition:persist id="cc-container" data-lang={lang}>
    <!-- <button type="button" data-cc="show-preferencesModal">Show preferences modal</button> -->

    <script>
        import { run } from 'vanilla-cookieconsent';
        import { configFr } from './CookieConsentConfigFr';
        import { configEn } from './CookieConsentConfigEn';

        const container = document.getElementById('cc-container');
        const lang = container?.dataset.lang || 'fr';
        
        run(lang === 'en' ? configEn : configFr);

        // Important, the plugin adds classes to the html tag, 
        // so we need keep track of the className attribute.
        document.addEventListener('astro:before-preparation', event => {
            (window as any)._htmlClassName = window.document.documentElement.className;
        });

        document.addEventListener('astro:before-swap', event => {
            event.newDocument.documentElement.className = (window as any)._htmlClassName;
        });
    </script>
</div>