---
// Description section explaining WHOIS Maroc service
---

<section class="bg-(--color-tertiary) px-6 py-20 md:py-32 md:px-16 lg:px-24">
	<div class="max-w-7xl mx-auto">
		<h1 class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-(--color-secondary) text-center leading-none font-light">
			<span class="font-semibold">"WHOIS Maroc"</span> est un <em class="italic font-serif">service de répertoire en ligne basé sur la base de données du registre .ma</em> qui permet de rechercher des renseignements sur les noms de domaine.
		</h1>
	</div>
</section>
