---
// Description section explaining WHOIS Maroc service
import Section from '../../ui/Section.astro';

const { title } = Astro.props;

---

<Section backgroundColor="bg-(--color-tertiary)">
		<h2 set:html={title} class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-(--color-secondary) text-center leading-none font-light">
		</h2>
</Section>
