---
// Privacy section explaining WHOIS Privacy for .MA domains
import Section from '../../ui/Section.astro';
import Title from '../../ui/Title.astro';
import Paragraph from '../../ui/Paragraph.astro';
import TextImageSection from '../../ui/TextImageSection.astro';

const { title, paragraphs = [] } = Astro.props;
---

<Section backgroundColor="bg-white">
	<TextImageSection image="/whois-privacy-maroc.jpg" alt="WHOIS Privacy - Protection des données pour les domaines .MA">
		<Title>
			{title}
		</Title>
				
		<Paragraph>
			{paragraphs.map((paragraph: string) => <p set:html={paragraph} />)}
		</Paragraph>
	</TextImageSection>
</Section>

