---
// Privacy section explaining WHOIS Privacy for .MA domains
import Section from '../../ui/Section.astro';
import Title from '../../ui/Title.astro';
import Paragraph from '../../ui/Paragraph.astro';
import TextImageSection from '../../ui/TextImageSection.astro';

const { title, paragraphs = [], image } = Astro.props;
---

<Section backgroundColor="bg-white">
	<TextImageSection image={image.src} alt={image.alt}>
		<Title title={title} />
				
		<Paragraph>
			{paragraphs.map((paragraph: string) => <p set:html={paragraph} />)}
		</Paragraph>
	</TextImageSection>
</Section>

