---
// Reliability section explaining WHOIS database update requirements
import Section from '../../ui/Section.astro';
---

<Section backgroundColor="bg-white">
		<h2 class="text-3xl md:text-4xl lg:text-5xl font-semibold text-(--color-secondary) mb-8">
			Fiabilité de la base Whois Maroc : mise à jour obligatoire du CIN ou de l'ICE
		</h2>
		
		<div class="space-y-6 text-(--color-secondary) text-base md:text-xl leading-relaxed">
			<p>
				L'ANRT rappelle, via une notification officielle adressée aux prestataires le 16 octobre 2025, que pour garantir la fiabilité des informations dans la base Whois Maroc, toutes les données fournies lors de l'enregistrement d'un domaine doivent être exactes et régulièrement mises à jour.
			</p>
			
			<p>
				Cette exigence concerne tous les titulaires, qu'il s'agisse de particuliers ou d'entreprises, et implique la fourniture ou la mise à jour du CIN pour les particuliers et de l'ICE pour les entreprises, conformément aux articles <strong>45 et 54 de la Décision ANRT/DG/N°02/2024</strong>.
			</p>
			
			<p>
				Le respect de cette obligation permet de maintenir la transparence et la sécurité des noms de domaine .MA, tout en facilitant la gestion des transferts, des réclamations et des actions correctives éventuelles.
			</p>
		</div>
</Section>

