---
// Service WHOIS information section with details about the registry
import Section from '../../ui/Section.astro';
import Title from '../../ui/Title.astro';
import Paragraph from '../../ui/Paragraph.astro';
import TextImageSection from '../../ui/TextImageSection.astro';

const { title, paragraphs = [] } = Astro.props;

---

<Section backgroundColor="bg-white">
	<TextImageSection image="/service-whois-maroc.jpg" alt="Service WHOIS Maroc - Logo .MA et drapeau marocain avec ANRT">
		<Title>
			{title}
		</Title>
				
		<Paragraph>
			{paragraphs.map((paragraph: string) => <p set:html={paragraph} />)}
		</Paragraph>
	</TextImageSection>		
</Section>

