---
// Use cases section explaining what WHOIS Maroc tool is used for
import Section from '../../ui/Section.astro';
import Title from '../../ui/Title.astro';
import Subtitle from '../../ui/Subtitle.astro';
import Paragraph from '../../ui/Paragraph.astro';

const { title, paragraphTitle = [] } = Astro.props;
---

<Section backgroundColor="bg-white">
		<!-- Main title -->
		<Title>
			{title}
		</Title>
		
		<!-- Green decorative line -->
		<div class="w-16 h-2 bg-(--color-primary) mt-4 mb-4 md:mb-8"></div>
		
		<!-- Grid of use cases -->
		<div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-12 md:gap-y-16">
			{paragraphTitle.map((paragraph: { title: string, description: string }) => (
				<div class="space-y-4">
					<Subtitle>
						{paragraph.title}
					</Subtitle>
					<Paragraph>
						<p set:html={paragraph.description} />
					</Paragraph>
				</div>
			))}
		</div>
</Section>

