---
import HeroSection from '../../ui/HeroSection.astro';
import DownArrow from '../../ui/DownArrow.astro';

const { title } = Astro.props;
---

<HeroSection center={true}>
	<h1 class="text-4xl md:text-5xl lg:text-6xl xl:text-7xl text-white font-light leading-none">
		{title}
	</h1>
	
	<DownArrow />
</HeroSection>

