---
import Layout from '../layouts/Layout.astro';
import Button from '../components/ui/Button.astro';

const title = "404 - Page not found";
const description = "This page cannot be found.";
---

<Layout 
	title={title} 
	description={description} 
	lang="en"
	canonical_url={Astro.url.href}
	metaRobots={false}
>
	<div class="flex items-center justify-center bg-gray-50 px-6 pt-[25vh] pb-40">
		<div class="text-center">
			<!-- 404 Number -->
			<h1 class="text-8xl md:text-9xl font-bold text-(--color-secondary) mb-6">
				404
			</h1>
			
			<!-- Error Message -->
			<p class="text-xl md:text-2xl text-gray-900 mb-8">
				This page cannot be found.
			</p>
			
			<!-- Return to Home Button -->
			<Button 
				variant="primary"
				size="lg"
			>
            <a href="/">
				Return to home
            </a>
			</Button>
		</div>
	</div>
</Layout>

