---
import HeroSection from '../../ui/HeroSection.astro';
import DownArrow from '../../ui/DownArrow.astro';
---

<HeroSection center={true}>
	<h1 class="text-4xl md:text-5xl lg:text-6xl xl:text-7xl text-white font-light leading-none">
		Module WHMCS EPP <br/> Domaines .MA
	</h1>
	
	<DownArrow />
</HeroSection>

