---
import Section from '../../ui/Section.astro';
import Title from '../../ui/Title.astro';
import Paragraph from '../../ui/Paragraph.astro';
import TextImageSection from '../../ui/TextImageSection.astro';
import Button from '../../ui/Button.astro';

interface Props {
	title?: string;
	paragraphs?: string[];
	button?: {
		text: string;
		href: string;
	};
}

const {
	title = "Module WHMCS EPP pour le .MA (ANRT)",
	paragraphs = [],
	button
} = Astro.props;
---

<Section backgroundColor="bg-white">
	<TextImageSection image="/ma-epp-whmcs-module.jpg" alt="module WHMCS EPP">
		<Title>
			{title}
		</Title>
				
		<Paragraph>
			{paragraphs.map((paragraph: string) => <p set:html={paragraph} />)}
			{button && (
				<Button variant="primary" size="lg">
					<a href={button.href}>{button.text}</a>
				</Button>
			)}
		</Paragraph>
	</TextImageSection>		
</Section>

