---
import Section from '../../ui/Section.astro';
import Title from '../../ui/Title.astro';
import Paragraph from '../../ui/Paragraph.astro';

interface Props {
	title?: string;
	paragraphs?: string[];
}

const {
	title = "Module Registrar (ANRT) WHMCS pour l'Extension .MA",
	paragraphs = []
} = Astro.props;
---

<Section backgroundColor="bg-white">
		<Title title={title} />
		
		<Paragraph>
			{paragraphs.map((paragraph: string) => <p set:html={paragraph} />)}
		</Paragraph>
</Section>

