---
import Section from '../../ui/Section.astro';
import Title from '../../ui/Title.astro';
import Paragraph from '../../ui/Paragraph.astro';
import TextImageSection from '../../ui/TextImageSection.astro';
import Button from '../../ui/Button.astro';
---

<Section backgroundColor="bg-white">
	<TextImageSection image="/ma-epp-whmcs-module.jpg" alt="module WHMCS EPP">
		<Title>
			Module WHMCS EPP pour le .MA (ANRT)
		</Title>
				
		<Paragraph>
			<p>
                Le module WHMCS pour le .MA permet de gérer automatiquement les noms de domaine .MA via le SRS de l'ANRT : enregistrement, renouvellement, transfert et mise à jour des informations.
			</p>
					
			<p>
                Nous prenons en charge l'installation et le paramétrage complet du module, incluant la <strong> configuration des accès SRS </strong> , les tâches automatiques et les réglages spécifiques à l'extension .MA. Notre solution est <strong> déjà adoptée par plusieurs prestataires agréés de l'ANRT </strong>, garantissant une intégration fiable et éprouvée. Grâce à cette expérience, nous sommes prêts à assurer une mise en service rapide et conforme – y compris pour les nouveaux prestataires de l'ANRT.
			</p>
					
			<p>
                Appelez le +212 663 75 09 08 et commandez dès maintenant le module EPP WHMCS pour les domaines .MA.
			</p>
            <Button variant="primary" size="lg">Contactez-nous</Button>
		</Paragraph>
	</TextImageSection>		
</Section>

