---

const { center = false } = Astro.props;
---

<section class="bg-(--color-secondary) px-3 py-16 md:py-20 lg:py-24 md:px-10 lg:px-20">
	<div class=`max-w-7xl mx-auto ${center ? 'text-center' : ''}`>
        <slot />
    </div>
</section>