---

const { center = false } = Astro.props;
---

<section class="bg-(--color-secondary) px-3 py-16 md:pb-30 lg:pb-35 md:px-10 lg:px-20">
	<div class={`max-w-7xl mx-auto ${center ? 'text-center' : ''}`}>
        <slot />
    </div>
</section>