---

const { center = false } = Astro.props;
---

<section class="bg-(--color-secondary) px-6 pt-10 pb-20 md:pb-30 md:pt-20 lg:pb-35 md:px-10 lg:px-20">
	<div class={`max-w-7xl mx-auto ${center ? 'text-center' : ''}`}>
        <slot />
    </div>
</section>